<div class="genre_search">
  <table class="table text-left">
    <tr>
      <th>ジャンル検索</th>
    </tr>
    <%= form_with url: public_genre_search_path, method: :get do |f| %>
      <tr>
        <td>
          <div class="form-group">
            <label for="genre_id">ジャンル:</label>
            <select class="form-control" name="genre_id" id="genre_id">
              <option value="">すべて</option>
              <% @genres.each do |genre| %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
              <% end %>
            </select>
          </div>
        </td>
        <td>
          <button type="submit" class="btn btn-primary">検索</button>
        </td>
      </tr>
    <% end %>
  </table>
</div>
